# Nuxt build output
.nuxt
.output
.nitro

# Node dependencies
node_modules

# IDE & editor folders
.idea
.vscode

# Logs
*.log

# Environment variables
.env
.env.*
.env*
*.local

# Misc
.DS_Store
.cache
coverage
/dist
